@tailwind base;
@tailwind components;
@tailwind utilities;

.error-colour {
  background-color: rgb(254 226 226);
  border-color: rgb(239 68 68);
  color: rgb(185 28 28);
}

.success-colour {
  background-color: rgb(209 250 229);
  border-color: rgb(16 185 129);
  color: rgb(4 120 87);
}

.dark-cell {
  background-color: #b58863;
}

.light-cell {
  background-color: #f0d9b5;
}

.check-cell {
  background-color: #ff69b4;
}